<h1>Liste des articles</h1>

<div class="digg_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>

<div><%= link_to 'Créer un nouvel article', new_article_path if logged_in? %></div>