<header>
    <nav>
        <ul>
            <li><%= link_to 'S\'inscrire', signup_path %></li>
            <li><%= link_to 'Liste des articles', articles_path %></li>
        </ul>
    </nav>
<header>